<div class="top-row ps-3 navbar navbar-white">
    <div class="container-fluid d-m-none">
        @* <a class="navbar-brand" href="">Application</a> *@
        <div class=" d-flex text-center" ><div class="w-32 h-32 d-flex text-center justify-content-center bg-dark text-light rounded p-1 me-2">
                OS
        </div>
        <a class="navbar-brand font-semibold ms-1" href="" >@(!String.IsNullOrEmpty(CompanyName) ? CompanyName : "Application")</a></div>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="works/custom">
                <span class="oi oi-plus" aria-hidden="true"></span> Custom Works
            </NavLink>
        </div>
    </nav>
</div>




@code {

    [Parameter] public string CompanyName { get; set; }
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
